<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab Two
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngFor="let carte of tableau_cartes">
  <ion-card *ngIf="carte.titre != 'titre 1'">
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>{{ carte.titre }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      {{ carte.contenu }}
    </ion-card-content>
  </ion-card>
  <ion-button (click)="goToTabs3(carte)">Clique moi !</ion-button>
  </div>


</ion-content>