<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab Three
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-button (click)="goToMaps()">Paramètres de navigation</ion-button>
    <ion-button (click)="goToAPI()">Calls API</ion-button>
    <ion-item>
      <ion-label>
        Salut
      </ion-label>

      <ion-input [(ngModel)]="value"></ion-input>
      <ion-button (click)="displayValue()">Récupérer la valeur</ion-button>

    </ion-item>
  </ion-row>
</ion-content>